.gitignore
data/
models/
01_workflow.py
02_classification.py
02_example.py
__pycache__
clothing-03.py
fix_notebook_packages.sh
helper_functions.py
install_all_packages.sh
moons_classification_02.py
numerical_limit.py
pytorch-demo-02.py
pytorch-demo.py
sync_packages.sh
venv
test/organized/2024/
test/organized/2026/
test/organized/davis/
test/organized/documents/
test/organized/existence/
test/organized/fitzgerald/
test/organized/images/
test/organized/life/
test/organized/music/
test/organized/notes/
test/organized/peggy/
test/organized/something/
config.yaml
config.yaml.bak
__pycache__/
*.py[cod]
*$py.class
*.pth

# C extensions
*.so

.vscode/
._.vscode
._*

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

__pypackages__/

celerybeat-schedule
celerybeat.pid

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

*.DS_Store
*/.DS_Store
extras/data/*

data/10_whole_foods*
data/FashionMNIST
data/10_whole_foods*
data/food*
data/pizza_steak_sushi/*
data/pizza_steak_sushi_20_percent/
10_whole_foods.zip
going_modular/data/
data/cifar-*
logs/
runs/
extras/cifar-10*

demos/foodvision_big/
demos/foodvision_mini/
flagged/

.cache
mkdocs-material-insiders
phone_pull.sh
requirements.txt
templates/
web_app.py
